/* MY CUSTOM STYLES */
.hero-unit img {
 width: 100%; height: auto;   
}

.extra-margins {
    margin-top: 1rem;
    margin-bottom: 2.5rem;
}

main {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

html,
body,
.view {
    height: 100%;
}

.view {
    background: url("../img/bg3.png")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#eee;
}
.card-my {
  background-color: #2c3e50;
  border-color: #2c3e50;
}

.card-my .card-header,
.card-my .card-footer {
  background-color: transparent;
}

body {
    overflow: hidden;
}

/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /* change if the mask should have another color then white */
    z-index:99; /* makes sure it stays on top */
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    background-image:url(../img/pre.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}